.sidebar {
  top: 20px;
  left: 20px;
  padding: 30px;
  position: fixed;
  width: 300px;
  background-color: #80DEEA;
  z-index: 1;
  opacity: .1;
  transition: all .1s ease-out;
}

.sidebar:hover {
  opacity: 1;
}

.sidebar a {
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
}

.sidebar li>ul {
  margin-top: 11px;
  margin-left: 9px;
  color: grey;
}

.sidebar li {
  line-height: 13px;
}

.sidebar li + li {
  margin-top: 11px;
}

.sidebar > ul > li:first-child {
  font-weight: bold;
}
